body{
  font-family: primaryFont;
}
h1, ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
header, footer{
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
input, select{
  text-align: center;
  height: 32px;
  border: 1px outset $thirdColor;
  border-radius: 5px;
}
button{
  border:none;
  border-radius: 5px;
  &:hover{
    box-shadow: 1px 1px 1px $primaryColor;
  }
}
.error{
  border-color: red;
  color: red;
}
.retour{
  width: 110px;
}