header{
  margin-bottom: 10px;
  background-color: $thirdColor ;
  h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: secondFont;
    font-style: italic;
    color: $primaryColor;
  }
}