header{
  margin-bottom: 10px;
  background-color: $secondColor ;
  h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $secondFont;
    color: $primaryColor;
    text-shadow: 5px 5px 5px black;
  }
}