#end{
  margin-top: 75px;
  text-align: center;
  font-size: 1.4rem;
  #nTel{
    display: block;
    font-family: primaryFontBold;
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    color: $primaryColor;
    border: 3px outset #c30000;
    background: linear-gradient(-45deg,  rgba(195, 0, 0,0.5),#c30000);
    border-radius: 5px;
    background-size: 200% 200%;
    animation: gradient 2s ease infinite;
    font-size: 2rem;
    &:hover{
      color: $secondColor;
    }
  }
  .warning{
    font-family: primaryFontBold;
    color: #c30000;
    div {
      margin: 20px 0;
    }
  }
  .lastWord{
    margin : 20px 0;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 820px) {
  footer, header{
    display:none;
  }
  .alaligne{
    display: block;
  }
  #nTel{
    width: 300px !important;
  }
}