.inout{
  text-align: center;
  #new-inout-parc{
    margin-top: 20px;
    margin-bottom: 20px;
    #parc{
      width: 300px;
      margin-right: 20px;
    }
    #pad{
      width: 100px;
    }
  }
  #new-inout-sn{
    margin-top: 20px;
    margin-bottom: 20px;
    #sn{
      border-top: none;
      border-left: none;
      border-right: none;
      font-family: primaryFontBold;
      font-weight: bolder;
      color: $primaryColor;
      letter-spacing: .1rem;
    }
    button{
      width: 100px;
    }
  }
  #inoutQR{
    width: 500px;
    margin: auto;
    .entete{
      background-color: $primaryColor;
      border: 3px $primaryColor inset;
      color: $secondColor;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .io{
        font-family: secondFont;
        font-weight: bolder;
        width: 100px;
        font-size: 2rem;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .description{
        width: 400px;
        font-size: 1.2rem;
        font-family: primaryFontBold;
        font-style: italic;
      }
    }
    .form-check .form-check-input {
      float: right;
    }
    .form-check-input:checked {
      background-color: $primaryColor !important;
      border-color: $primaryColor !important;
    }
    .form-switch, .form-check {
      padding-left: 0;
      width: 200px;
      padding-right: 40px;
    }
    .form-check {
      margin: 10px auto 0;
    }
    .dateTime{
      margin-top: 10px;
    }
    .tech{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin:15px 0 15px 20px;
      div:first-child{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .input{
        display: flex;
        flex-direction: column;
        border-left: 1px solid $thirdColor;
        margin-left: 5px;
        input{
          width: 200px;
          margin-left: 5px;
          &:not(:first-child){
            margin-top: 5px;
          }
        }
      }
      .tel{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        input{
          width: 120px;
          margin-left: 10px;
          &:not(:first-child){
            margin-top: 5px;
          }
        }
      }
    }
    .so{
      text-align: left;
      margin: 10px 0 0 76px;
      input{
        margin-left: 10px;
        width: 100px;
      }
    }
    .detail{
      text-align: left;
      margin: 15px 0 15px 57px;
      input{
        margin-left: 10px;
        width: 300px;
      }
    }
    .send{
      width: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
    .cr{
      width: 400px;
      margin: 15px auto;
      label{
        display: block;
        text-align: left;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  body{
    background: url('../img/turbine.png') no-repeat fixed bottom;
    background-size: 150%;
    &::after{
      content:"";
      background-color: white;
      opacity: 0.8;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
    }
  }
  footer, header{
    display:none;
  }
  .entete{
    margin-bottom: 30px;
    .io{
      font-size: 1.8rem !important;
    }
    .description{
      font-size: 1rem !important;
      #tiret{
        display: none;
      }
      #serial{
        display: block;
      }
    }
  }
  .form-switch{
    #pauseO_N{
      transform: scale(1.6);
      margin: 3px 0 0 0;
    }
  }
  .inout{
    margin: 0 !important;
    padding: 0 !important;
    #inoutQR{
      width: 350px !important;
      margin-top: 25px !important;
    }
    .cr{
      width: 350px !important;
      textarea{
        width: 100% !important;
      }
    }
    .detail{
      margin: 15px 0 15px 0 !important;
      label{
        margin-left: 20px;
        display: block;
      }
      input{
        margin: 0 !important;
        width: 100% !important;
      }
    }
    .tech, .tech .tel{
      display: block !important;
    }
    .tech{
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
    .tech .tel input{
      width: 200px !important;
      margin-left: 44px !important;
      margin-top: 5px !important;
    }
  }
}