#print{
  margin-bottom: 40px;
  #parc{
    margin: 30px auto;
  }
  p{
    font-size: 1.1rem;
    font-style: italic;
    color: $secondColor;
    b{
      font-family: primaryFontBold;
      font-style: normal;
    }
  }
  #printBtn{
    padding: 2px 20px;
  }
  text-align: center;
}
#printArea{
  display: none;
  .printQR{
    page-break-before: always;
    width: 800px;
    border: $primaryColor solid 2px;
    border-radius: 100px 100px 100px 100px;
    &_logo{
      border-radius: 100px 100px 0 0;
      line-height: 200px;
      text-align: center;
      vertical-align: middle;
      background: url("../img/turbineSmall.png") no-repeat;
      background-position: bottom right 50px;
      img{
        max-height: 100px;
      }
    }
    &_titre{
      background-color: $primaryColor;
      color: $thirdColor;
      font-family: primaryFontBold;
      font-size: 2.2rem;
      text-align: center;
      vertical-align: middle;
      line-height: 75px;
    }
    &_qr{
      height: 460px;
      text-align: center;
      margin-top: 50px;
      img{
        display: inline-block;
        transform:scale(1.5);
        transform-origin: top;
      }
    }
    &_qrText{
      font-family: primaryFontBold;
      font-size: 2rem;
      text-align: center;
      vertical-align: middle;
      line-height: 110px;
      i{
        font-size: 3rem;
      }
    }
    &_safety{
      border-top: $primaryColor solid 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 70px 70px;
      height: 250px;
      p{
        display: block;
        width: 500px;
        text-align: center;
        span:first-child{
          font-family: primaryFontBold;
          font-size: 2rem;
        }
        span:last-child{
          color: grey;
          font-style: italic;
          font-size: 1.6rem;
        }
      }
      img{
        width: 200px;
        height: 200px;
      }
    }
  }
}
@media print {
  #print, header, footer{
    display: none;
  }
  #printArea{
    display: block;
  }
}
