.user{
  text-align: center;
  width: 720px;
  &_entete{
    display: flex;
    flex-flow: row nowrap;
    font-size: 25px;
    font-weight: bolder;
    div{
      padding-top: 10px;
      &:not(:first-child){
        color: $primaryColor;
      }
    }
  }
  &_ligne{
    border-top: black solid 1px;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
  }
  &_initial{
    background-color: $primaryColor;
    width: 100px;
  }
  &_nom, &_prenom, &_company{
    width: 149px;
  }
  &_tel{
    width: 110px;
  }
  &_del{
    width: 35px;
    font-family: 'Arial';
    span{
      font-size: 13px;
      padding-left: 6px;
      padding-right: 5px;
      padding-bottom: 4px;
      background-color: red;
      border-radius: 6px;
      &:hover{
        box-shadow: 1px 1px 1px grey;
        cursor: pointer;
      }
    }
  }
  &_add{
    height: 80px;
    form{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 100%;
      button{
        margin-left: 4px;
        padding: 5px;
      }
    }
    .user_initial{
      background-color: $primaryColor;
      height: 100%;
      padding-top: 24px;
    }
    .adduser_initial{
      width: 100px;
    }
    .adduser_nom, .adduser_prenom, .adduser_company{
      width: 149px;
    }
    .adduser_tel{
      width: 110px;
    }
  }
}
#user-password{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  input{
    text-align:center;
  }
  button{
    margin-left: 4px;
    padding-left: 25px;
    padding-right: 25px;
  }
}