.user{
  text-align: center;
  width: 720px;
  &_entete{
    display: flex;
    flex-flow: row nowrap;
    font-size: 25px;
    font-weight: bolder;
    div{
      padding-top: 10px;
      &:not(:first-child){
        color: $primaryColor;
      }
    }
  }
  &_ligne{
    border-top: black solid 1px;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
  }
  &_initial{
    background-color: $primaryColor;
    width: 100px;
  }
  &_nom, &_prenom, &_region{
    width: 150px;
  }
  &_tel{
    width: 105px;
  }
  &_del{
    width: 35px;
    font-family: 'Arial';
    span{
      font-size: 13px;
      padding-left: 6px;
      padding-right: 5px;
      padding-bottom: 4px;
      background-color: red;
      border-radius: 6px;
      &:hover{
        box-shadow: 1px 1px 1px grey;
        cursor: pointer;
      }
    }
  }
  &_add{
    height: 80px;
    form{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 100%;
      input, select{
        text-align: center;
        height: 32px;
        border: 1px inset $secondColor;
        border-radius: 5px;
      }
      button{
        border:none;
        border-radius: 5px;
        margin-left: 4px;
        padding: 5px;
        &:hover{
          box-shadow: 1px 1px 1px grey;
        }
      }
    }
    .user_initial{
      background-color: $primaryColor;
      height: 100%;
      padding-top: 24px;
    }
    .adduser_initial{
      width: 100px;
    }
    .adduser_nom, .adduser_prenom, .adduser_region{
      width: 150px;
    }
    .adduser_tel{
      width: 105px;
    }
  }
}