.wtg{
  text-align: center;
  width: 800px;
  &_entete{
    display: flex;
    flex-flow: row nowrap;
    font-size: 25px;
    font-weight: bolder;
    div{
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: primaryFontBold;
      color: $primaryColor;
    }
  }
  &_ligne{
    border-top: $primaryColor solid 1px;
    display: flex;
    flex-flow: row nowrap;
    height: 30px;
  }
  &_parc{
    background-color: $secondColor;
    font-family: primaryFontBold;
    width: 350px;
  }
  &_tel, &_client{
    width: 150px;
  }
  &_region{
    width: 120px;
  }
  &_parcadd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    input, select{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: $primaryColor;
      margin-bottom: 10px;
    }
    &-info{
      display: flex;
      flex-direction: column;
      width: 400px;
      padding-right: 20px;
      label{
        text-align: left;
        margin-left: 25px;
      }
      .ligne{
        display: flex;
        flex-direction: row;
        label{
          width: 100%;
        }
        input{
          width: 100px;
        }
        select{
          width: 250px;
        }
      }
    }
    &-wtg{
      input{
        border-top:none;
        border-left:none;
        border-right:none;
      }
      button{
        margin-top: 20px;
        
        width: 100%;
      }
      .ligne{
        padding-left: 20px;
        border-left: 1px solid $primaryColor;
      }
      #serial{
        width: 120px;
      }
      #pad{
        width: 80px;
      }
    }
  }
}